# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# Logs
logs/*.log

# macOS
.DS_Store

# VS Code
.vscode/

# Environment Variables
.env

# Python cache
.pytest_cache/

# Flask
instance/